<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/dcontre10</RegistryUrl>
    <UserName>dcontre10</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>735f5715-7932-47ac-8210-ccb56b6d51a0</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
    <AutoGenerateImageTag>true</AutoGenerateImageTag>
  </PropertyGroup>
</Project>